#contactus_title {
    padding-left: 40%;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rebeccapurple;
    font-style: italic;
    font-weight: bold;
}

#contactus_about_div{
    border: 100%;
    border-color: brown;
    border-style: solid;
    margin-left: 200px;
    margin-right: 200px;
}

#contactus_about {
    margin: 15px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: black;

}