@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Google font integration*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* *****Contact Us Dev***** */
.contact-jumbotron {
    background: rgb(154, 17, 71);
    color: rgb(255, 254, 254);
    border-radius: 0px;
    }
    .contact-jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px;
margin-top: 7%; }
    .jumbotron small {
    color: rgb(255, 255, 255);
    }
    .contact-h1 small {
    font-size: 24px;
    color: rgb(32, 32, 32);
    font-weight: bold;
    }
    #btnContactUs {
        background-color: rgb(154, 17, 71);
    }

/* *****End Of Contact Us Dev***** */
    
