.reservation-img img {
  width: 300px;
  padding: 0px 6px 6px 0px;
  background-color: #991146;

  height: 500px;
  width: 85%;
  border: 1px solid;
  margin-top: 90px;
}
.reservation-img {
  display: flex;
  justify-content: center;
}
.container-reservation {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: white;
  width: 30%;
  font-size: 20px;
}
.container-reservation h2 {
  color: #991146;
}

.reservation-background {
  display: flex;
  justify-content: center;
  background-image: url("https://awscloudfront.kempinski.com/1391/al-reem-ball-room.jpg;width=1905;height=794;mode=crop;anchor=middlecenter;autorotate=true;quality=90;scale=both;progressive=true;encoder=freeimage");
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 91px;
}

.description {
  margin: 30px;
  font-size: 30px;
  color: #991146;
  font-weight: 300;
}
.reservation-img {
  width: 200px;
  height: 200px;
  margin-left: 40px;
}
